@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply my-1 rounded-lg;
    /* Note: Special color only for chat-scrollbar */
    background-color: rgb(46, 51, 55);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-dark-700;
  }
}
